*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  /* background-color: rgba(39, 83, 46, 0.26); */
}

:root {
  --clr-a-1: rgb(146, 86, 86);
  --clr-a-2: rgb(114, 49, 49);
  --clr-b-1: rgb(34, 54, 97);
  --clr-b-2: rgb(70, 74, 83);
  --clr-d-1: rgba(192, 188, 188, 0.986);
  --clr-d-2: rgba(192, 188, 188, 0.357);
}

.App {
  text-align: center;
}

body {
  /* background: var(--clr-a-1); */
  max-width: 100%;
  right: 0;
  overflow: hidden;
  /* border: 1px solid red; */
}

.content-container {
  display: grid;
  grid-template-columns: repeat(4, 15rem);
  /* grid-template-rows: repeat(5, 15rem); */
  grid-auto-rows: 25rem;
  justify-content: center;
  text-align: left;
  height: 74rem;
  overflow-y: auto;
  width: 65rem;
  overflow-x: hidden;
  margin: auto;
  transform: translateY(1rem);
  background: rgba(55, 49, 116, 0.39);
  border-radius: 10px;
  /* border: 2px solid red; */
}

.background-img {
  position: absolute;
  z-index: -1;
  user-select: none;
}

.background-img img {
  left: 0;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  filter: blur(5px);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--clr-d-2);
  border-radius: 20px;
}

::-webkit-scrollbar-track:hover {
  background: var(--clr-d-1);
  transition: background-color 1s ease;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-b-2);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: var(--clr-b-1); */
  background: rgb(49, 61, 90);
}

.data-container {
  text-align: left;
  background: rgb(75, 89, 129);
  max-width: fit-content;
  border-bottom-right-radius: 10px;
  height: fit-content;
  height: 22rem;
  width: 15rem;
  border-left: 10px solid rgb(39, 38, 38);
  margin-top: 1rem;
  box-shadow: 0 5px 5px 0 rgb(56, 55, 55);
  user-select: none;
}

.navbar-container {
  height: 2rem;
  width: 100vw;
  background: var(--clr-b-1);
  color: black;
}

.scroll-container {
  padding-top: 2rem;
  padding-left: 1rem;
}

.navbar-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  /* padding-top: .5rem; */
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}

.navbar-list li {
  cursor: pointer;
}

.flag-container {
  height: 100px;
  width: 200px;
}

.img-placeholder {
  height: 100px;
  width: 200px;
  background: rgba(128, 128, 128, 0.61);
}

.data-title {
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  background: rgb(87, 98, 145);
}

.data-capital {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  padding-top: 1rem;
  max-width: 12rem;
  text-decoration: underline 2px ;
}


.data-text {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* gap: 10px; */
  font-size: 1rem;
  width: 12rem;
  padding-left: 1rem;
  padding-top: 2rem;
  /* text-align: left; */
  /* border: 5px solid red; */
}

.data-num {
  /* font-size: 2rem; */
  float: right;
}

.data-subtitle {}

.data-text p {
  /* font-weight: 300; */
  font-weight: 600;
}

.main-container {
  display: flex;
  /* border: 4px solid purple; */
  width: fit-content;
  margin: auto;
}

.scroll-top {
  width: 2rem;
  height: 2rem;
  background: green;
  /* margin-left: 20rem; */
  border-radius: 20px;
  cursor: pointer;
}

.icon-scroll {
  font-size: 2rem;
  color: var(--clr-a-1);
  opacity: 1;
  transition: opacity 150ms ease-in;
}

.icon-scroll:hover {
  cursor: pointer;
  font-size: 2.2rem;
}

.icon-text {
  color: var(--clr-d-1);
  font-weight: 600;
}

.footer {
  position: fixed;
  background: rgb(133, 69, 69);
  background: var(--clr-b-1);
  /* position: fixed; */
  width: 100vw;
  /* padding-left: 40rem; */
  /* margin: auto; */
  bottom: 0;
  border-top: 5px solid var(--clr-b-1);
  color: white;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.link {
  text-decoration: none;
  color: white;
}

.col-red {
  color: rgb(99, 46, 46);
  font-weight: 800;
}

.col-orange {
  color: rgb(148, 114, 81);
  font-weight: 800;
}

.col-green {
  color: rgb(168, 206, 168);
  font-weight: 800;
}

.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms ease-in;
}

@media (max-width: 1100px) {
  .content-container {
    grid-template-columns: repeat(3, 15rem);
    width: auto;
  }

  .background-img {
    width: auto;
    height: auto;
  }

  .background-img img {}

}

@media (max-width: 700px) {
  .content-container {
    grid-template-columns: repeat(1, 15rem);

  }
}