.App {
  text-align: center;
}

body {
  background: rgb(155, 151, 151);
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, 15rem);
  /* grid-template-rows: repeat(5, 15rem); */
  grid-auto-rows: 15rem;
  justify-content: center;
  text-align: left;
}

.data-container {
  /* display: flex;
  flex-direction: column; */
  text-align: left;
  background: rgb(148, 142, 142);
  max-width: fit-content;
  /* padding: 10px; */
  /* border-top: 10px solid black; */
  padding: 5px;
  padding-top: 2px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: fit-content;
  width: 12rem;
}

.flag-container {
  height: 100px;
  width: 200px;
}

.data-text {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  font-size: .8rem;
  width: 12rem;
  /* border: 5px solid red; */
}

.data-subtitle {
  font-weight: 400;
}

.data-text h2 {
  font-weight: 300;
}
