*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  /* background-color: rgba(39, 83, 46, 0.26); */
}

.App {
  text-align: center;
}

body {
  background: rgb(146, 86, 86);
  max-width: 100%;
  overflow-x: hidden;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(4, 15rem);
  /* grid-template-rows: repeat(5, 15rem); */
  grid-auto-rows: 20rem;
  justify-content: center;
  text-align: left;
  height: 75rem;
  overflow-y: auto;
  width: 65rem;
  overflow-x: hidden;
  margin: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.data-container {
  text-align: left;
  background: rgb(111, 119, 143);
  max-width: fit-content;
  border-bottom-right-radius: 10px;
  height: fit-content;
  height: 18rem;
  width: 15rem;
  border-left: 10px solid black;
  margin-top: 1rem;
  box-shadow: 0 5px 5px 0 rgb(56, 55, 55);
  user-select: none;  
}

.navbar-container {
  height: 2rem;
  width: 100vw;
  background: rgb(34, 54, 97);
  color: black;
}

.navbar-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  /* padding-top: .5rem; */
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}

.navbar-list li {
  cursor: pointer;
}

.flag-container {
  height: 100px;
  width: 200px;
}

.data-title {
  font-size: 1.3rem;
  /* padding-left: 3rem; */
  text-align: center;
  padding-top: 1rem;
  max-width: 12rem;
  /* border: 2px solid red; */
  /* word-break: break-all; */
}

.data-text {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* gap: 10px; */
  font-size: .8rem;
  width: 12rem;
  padding-left: 2.5rem;
  padding-top: 2rem;
  /* text-align: left; */
  /* border: 5px solid red; */
}

.data-subtitle {
  font-weight: 400;
}

.data-text h2 {
  /* font-weight: 300; */
}

.footer {
  background: rgb(133, 69, 69);
  text-align: left;
  padding-left: 5rem;
  padding-top: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.link {
  text-decoration: none;
  color: black;
}

.col-red {
  color: rgb(139, 47, 47);
  font-weight: 600;
}

.col-orange {
  color: rgb(218, 146, 80);
  font-weight: 600;
}

.col-green {
  color: rgb(168, 206, 168);
  font-weight: 600;
}

@media (max-width: 1000px) {
  .main-container {
    grid-template-columns: repeat(2, 15rem);

  }
}

@media (max-width: 400px) {
  .main-container {
    grid-template-columns: repeat(1, 15rem);

  }
}